<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mcmu.juanjesus.dataweather" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.WithActionBar" >

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <!-- LoginActivity -->
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.WithActionBar"
            android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.default" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            -->
        </activity>


        <!-- WeatherListActivity -->
        <activity
            android:name=".activities.WeatherListActivity"
            android:theme="@style/AppTheme.WithActionBar"
            android:launchMode="singleTask" >
        </activity>

        <!-- PreferencesActivity -->
        <activity
            android:name=".activities.PreferencesActivity">
        </activity>

        <!-- NyanActivity -->
        <activity
            android:name=".activities.NyanActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog">
        </activity>

    </application>

</manifest>
